* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home, .reports, .products{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.footer{
  padding: 35px;
  background-color: #060b26;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #deb887;
}
.socials a{
  margin-left: 15px;
  margin-right: 15px;;
}
.footer-terms{
  margin-top: 15px;
}
.footer-info{
  margin-top: 15px;
  color: #deb887;
}